asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.1.1
Events==0.5
fonttools==4.65.0
git-filter-repo==2.47.0
grpcio==1.84.0
idna==3.20
iniconfig==2.3.0
opensearch-protobufs==1.2.0
opensearch-py==3.2.0
packaging==26.3
pluggy==1.6.0
protobuf==7.36.2
Pygments==2.21.0
pymupdf==1.28.2
pytest==9.1.1
pytest-django==4.14.0
python-dateutil==2.9.0.post0
requests==2.34.2
ruff==0.16.8
-e git+https://github.com/kwasiucionek/Scriptura.git@c3d7179edfb9a220cd95b4986875681c51c68ecc#egg=scriptura
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
urllib3==2.8.0
whitenoise==6.12.0
yt-dlp==2026.8.19
